{{#if reviews.length}}

<section>
    <h2>Your Reviews</h2>
    {{#each reviews as |review|}}
    {{> dashboard-postinfo post}}
    {{/each}}
</section>

{{/if}}

<button type="submit" class="button"><a class="link" href="/new-post">+ New Review</a></button>