<div class="cards">
    <h3 class="banner">Edit Review</h3>
    <form class="comment-body edit-form">
        <label for="title" class="label">Title</label>
        <input type="text" name="title" value="{{post.title}}" class="comment-input"/>

        <label class="label" for="content">Review</label>
        <input type="text" name="content" value="{{post.content}}" class="comment-input"/>

        <button type="submit" class="button">Edit Review</button>
        <button type="button" class="delete-button">Delete Review</button> 
    </form>
</div>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>