<div class="cards">
<h3 class="banner">Create New Review</h3>

<form class="comment-body new-post" id="new-post">
<label for="title" class="label">Album Title</label>
<input type="text" id="title" name="title" class="comment-input"/>

<<<<<<< HEAD
<label for="title" class="label">Artist Name</label>
<input type="text" id="name" name="name" class="comment-input"/>

<label class="label" for="content">Share your thoughts!</label>
<input id="content" name="content" class="comment-input"/>
=======
<label for="title" class="label">Artist</label>
<input type="text" id="artist" name="artist" class="comment-input"/>

<label class="label" for="review">Review this album!</label>
<input id="content" name="review" class="comment-input"/>
>>>>>>> ff917f56186414bca77817086a2d1bdb1a862dc6

<button type="submit" class="button">Publish</button>

</form>
</div>

<script src="/javascript/new.js"></script>