.carousel-inner > .item > img {
  
}

.login-form {
  width: max-content;
  white-space: 100px;
}

#card {
  width: 300%
}

.email-login{
  margin-left: 10px;
}

.password-login {
  margin-left: 10px;
}

.inner-button{
margin-left: 100%;
}

h1{
padding-left: 2%;

}


.nav button{
background-color:  #101010;
width: 100pt;
height: 25pt;
margin-left: 650%;
}

.dropdown {
display: inline-block;
position: relative;

}

.dropdown-content {
display: none;
position: absolute;
nav-right: auto;
padding-left: 5pt;
width: 200%;
overflow: auto;
background-color: #FFFFFF;
margin-left: 650%;

}

.dropdown:hover .dropdown-content {
display: block;
}
.dropdown-content a {
display: block;
color: rgb(72, 158, 245);
padding: 5px;
text-decoration: none;
}
.dropdown-content a:hover {
color: #FFFFFF;
background-color: #00A4BD;
}

.dropdown-content button{
margin-left: 0%;
background-color: rgb(72, 158, 245);
color: #FFFFFF;
font-size: 12pt;
}